@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400&display=swap');
:root {
	--dark-purple: #5100a9;
	--dark-blue: #00036d;
	--warm-blue: #0f4c75;
	--living-coral: #e94560;
	--warm-terqouise: #29c7ac;
	--light-green: #6eff63;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

body {
	color: white !important;
	font-family: 'Poppins', sans-serif !important;
	height: 100vh;
	overflow-x: hidden;
}


/* constant classes */

hr {
	border-color: white !important;
}

.warm-terq {
	color: var(--warm-terqouise);
}

.gg-shape {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--warm-terqouise);
}

.gg-before::before {
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	width: 8px;
	border: 2px solid var(--warm-terqouise);
	transform: translate(-10px, 1.23px);
}

.gg-after::before {
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	width: 8px;
	border: 2px solid var(--warm-terqouise);
	transform: translate(9px, 1.23px);
}

.pt-7 {
	padding-top: 10rem;
}

.pb-7 {
	padding-bottom: 10rem;
}

.h1 {
	font-size: 4rem!important;
}

.crimson-hover {
	transition: .2s;
}

.crimson-hover:hover {
	background-color: crimson;
}

.dark-purple-hover {
	transition: .2s;
}

.dark-purple-hover:hover {
	background-color: var(--dark-purple);
}

.dark-blue-hover {
	transition: .2s;
}

.dark-blue-hover:hover {
	background-color: var(--dark-blue);
}

.warm-blue-hover {
	transition: .2s;
}

.warm-blue-hover:hover {
	background-color: var(--warm-blue);
}

.warm-terqouise-hover {
	transition: .2s;
}

.warm-terqouise-hover:hover {
	background-color: var(--warm-terqouise);
}

.btn-primary {
	background-color: var(--living-coral) !important;
	border: 0 !important;
}

.btn-primary:hover {
	color: var(--living-coral) !important;
	background-color: white !important;
}

.btn-bordered-terq {
	color: var(--warm-terqouise) !important;
	background-color: transparent !important;
	border: var(--warm-terqouise) solid 2px !important;
}

.btn-bordered-terq:hover {
	color: white !important;
	background-color: var(--warm-terqouise) !important;
	border: transparent solid 2px !important;
}

.btn-bordered-purp {
	color: var(--dark-purple) !important;
	background-color: transparent !important;
	border: var(--dark-purple) solid 2px !important;
}

.btn-bordered-purp:hover {
	color: white !important;
	background-color: var(--dark-purple) !important;
	border: transparent solid 2px !important;
}

.bold-poppin {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

@media (max-width: 576px) {
	.text-sm,
	p {
		font-size: small !important;
	}
	h3,
	h2 {
		font-size: 15pt !important;
	}
}


/* Nav bar */

.nav-bar {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	transition: .5s;
}

.nav-bar .nav-links {
	list-style: none;
	margin-left: auto;
	margin-right: 30px;
	padding: 0;
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.nav-bar .nav-links .navbar-btn {
	font-size: 16px;
	display: block;
	text-align: center;
	line-height: 40px;
	padding: 0 10px;
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	transition: .2s;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.nav-bar ul li.navbar-btn a {
	text-decoration: none;
	color: white;
}

.navbar-btn,
.navbar-btn a {
	position: relative;
	transition: .2s;
	z-index: 10;
}

.navbar-btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: var(--warm-terqouise);
	transition: .2s;
}

.navbar-btn:hover::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--warm-terqouise);
	transition: .2s;
}

.navbar-btn.active::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--warm-terqouise);
	transition: .2s;
}

.navbar-btn.active:hover::before {
	content: '';
	height: 100%;
}

#signBtn {
	height: 70%;
	margin-left: 1rem;
	border: 2px solid var(--warm-terqouise);
	border-radius: .7rem;
	padding: 7px 18px;
}

#signBtn.navbar-btn:hover::before {
	height: 0;
}

#signBtn:hover {
	background-color: var(--warm-terqouise);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #00036d;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: .25rem;
	top: 100%;
	left: 0;
	list-style: none;
	font-size: medium;
	transition: .2s;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: .25rem;
	transition: .2s;
}

.dropdown-content a:hover {
	background-color: #0107a3;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	display: block;
}

.logo {
	z-index: 10;
	width: 100px;
	height: 50px;
	transform: scale(2);
	margin-left: 35px;
	cursor: pointer;
}

.logo svg {
	width: 80px;
	height: 50px;
}

.sm-nav-links {
	display: none;
}

@media (max-width: 760px) {
	.nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
	}
	.nav-links {
		display: none!important;
	}
	.header::after {
		display: none;
	}
	.sm-nav-links {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.sm-nav-link {
		padding: 20px 35px;
		text-align: center;
	}
	.sm-nav-link.active a {
		color: var(--light-green);
	}
	.sm-nav-link.sm-sign-in {
		padding: 7px 16px;
		margin: 5px;
		border: 2px solid var(--warm-terqouise);
		border-radius: .7rem;
	}
	.sm-nav-link a {
		color: white;
	}
	.sm-nav-link a:hover {
		color: white;
	}
	#articles li {
		padding: 20px 30px;
	}
	#articles li a {
		color: rgba(255, 255, 255, 0.8);
	}
	.logo {
		z-index: 10;
	}
	.logo svg {
		width: 70px;
		height: 45px;
	}
	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: -5px;
		padding-top: 44px;
		margin: 5px 7px;
		transform: translate(-5%, -50%) scale(0.8);
		z-index: 2;
	}
	.sm-nav-links {
		position: fixed;
		background: #5b78c8;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(60px at 98% -2%);
		-webkit-clip-path: circle(60px at 98% -2%);
		transition: .5s ease-out;
	}
	.sm-nav-links.open {
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
	}
}


/* header */

.header {
	width: 100%;
	height: 110vh;
	background-image: url('./assets/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgb(0 0 0) 0%, transparent 55%);
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 420px;
	height: 60px;
	box-shadow: 0 -40px 50px 20px black, -10px 0 80px 20px black;
	background: rgba(0, 0, 0, 0.7);
}

.header-text {
	position: absolute;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	left: 20px;
	top: 30%;
	padding: 20px 30px;
	border-radius: 20px;
	animation-delay: .5s;
	z-index: 2;
}

.header svg {
	height: 77px;
	width: 240px;
}

.header-text h1 text {
	font-family: 'Fredoka One';
	stroke-width: 0px;
	stroke: white;
	stroke-dasharray: 250;
	animation: strokeAnim 3s 1s backwards;
}

.header button {
	font-weight: 500;
}

.pop-l {
	animation: 1s popLeft ease-out backwards;
}

.bottom-fade {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 100px;
	background: linear-gradient(0deg, rgb(5 0 32) 30%, transparent);
}

@media (max-width: 576px) {
	.header::before {
		background: linear-gradient(-45deg, rgb(0 0 0) 0%, transparent 75%);
	}
	.header::after {
		width: 0;
		height: 0;
	}
	.header-text {
		top: 25%;
		left: 15px;
	}
}

@keyframes strokeAnim {
	0% {
		stroke-dashoffset: 250;
		stroke-width: 2px;
		fill: transparent;
	}
	90% {
		stroke-dashoffset: 0;
		fill: transparent;
		stroke-width: 2px;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-width: 0px;
		fill: white;
	}
}


/* Main section */

.main {
	position: relative;
	min-height: 700px;
	background: linear-gradient(0deg, #02000a 60%, rgb(5 0 32));
	margin: 0;
	overflow-x: hidden;
}

.main::before {
	content: '';
	position: absolute;
	top: -100px;
	width: 100%;
	height: 100px;
	background: linear-gradient(0deg, rgb(5 0 32) 30%, transparent);
}


/* Atoms */

.atoms img {
	opacity: 0.3;
	position: absolute;
	animation: float 6s ease-in-out infinite;
	width: 45%;
}

.atoms img:nth-child(1) {
	left: 5px;
	top: 400px;
}

.atoms img:nth-child(2) {
	right: 5px;
	top: 60%;
	animation-delay: 2s;
}

@media (max-width: 760px) {
	.atoms img {
		width: 500px;
	}
}


/* DNA */

.dna img {
	opacity: 0.3;
	position: absolute;
	width: 100px;
}

.dna img:nth-child(1) {
	top: 20%;
	right: 50px;
}

.dna img:nth-child(2) {
	top: 90%;
	right: 35px;
}

.dna img:nth-child(3) {
	top: 60%;
	left: 40px;
}

.dna img:nth-child(4) {
	top: 5%;
	left: 40px;
}

.dna img:nth-child(5) {
	top: 50%;
	right: 10%;
}


/* Parteners */

.parteners img {
	width: 150px;
}

@media (max-width: 760px) {
	.parteners img {
		width: 120px;
	}
}


/* social media section */

h3 {
	z-index: 1;
}

.social-media svg {
	width: 100%;
	height: 100%;
}


/* cards */

.cards-section {
	min-height: 500px;
}

.cards {
	height: 400px;
	width: 280px;
	border-radius: 20px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5rem;
	box-shadow: 10px 10px 50px black;
	transition: .2s;
}

@media (max-width: 760px) {
	.cards {
		height: 350px;
		width: 220px;
	}
}

.cards:hover {
	transform: translateY(-10px);
	box-shadow: 20px 20px 90px black;
}

.card1 {
	background-image: url('./assets/card1-img.jpg');
}

.card-img {
	height: 50%;
}

.card-text {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px 20px !important;
	border-radius: 20px;
	backdrop-filter: blur(20px) !important;
	border: 2px solid transparent;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	margin: 0 !important;
}


/* Science Cards */

.science-cards {
	position: relative;
	width: 100%;
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sci-card {
	position: relative;
	width: 45%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 35px;
	margin: 1rem;
	background-color: var(--dark-purple);
}

.sci-card .card-content {
	margin-left: auto;
	width: calc(100% - 50px);
	padding: 20px 0px;
}

.sci-card .card-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: var(--living-coral);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
}

.sci-card:nth-child(even) .card-img {
	background-color: var(--warm-terqouise);
}

.sci-card:nth-child(even) {
	background-color: var(--dark-blue);
}

.sci-card:nth-child(even) .btn-primary {
	background-color: var(--warm-terqouise) !important;
}

.sci-card:nth-child(even) .btn-primary:hover {
	background-color: transparent !important;
	border: var(--warm-terqouise) solid 1px !important;
	color: var(--warm-terqouise) !important;
}

.card-img::after {
	content: attr(data-text);
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
	color: rgba(255, 255, 255, 0.1);
	font-family: 'Poppins', sans-serif;
	font-size: 4rem;
	font-weight: 900;
	text-align: center;
	transition: .5s;
}

.sci-card:nth-child(even) .card-img::after {
	color: rgba(255, 255, 255, 0.2);
}

.sci-card .card-img img {
	width: 100px;
	z-index: 2;
	transition: .2s;
}

.sci-card:hover .card-img {
	width: 120px;
	height: 120px;
	left: -60px;
	top: calc(50% - 60px);
}

.sci-card:hover .card-img::after {
	opacity: 0;
}

.sci-card:hover .card-img img {
	width: 60px;
}

@media (max-width: 990px) {
	.science-cards {
		justify-content: center !important;
	}
	.sci-card {
		width: 500px;
	}
}

@media (max-width: 760px) {
	.science-cards {
		justify-content: center !important;
	}
	.sci-card {
		width: 500px;
		padding: 0;
	}
	.sci-card .card-img {
		position: relative;
		height: 220px;
	}
	.sci-card .card-img::after {
		content: "";
	}
	.sci-card:hover .card-img {
		width: 100%;
		height: 220px;
		left: 0;
		top: 0;
	}
	.sci-card:hover .card-img img {
		width: 100px;
	}
	.card-content {
		margin-left: 0 !important;
	}
}


/* Meet the Team Style */

.meet-team .title {
	margin-bottom: 5rem;
}

.meet-team .title h2 {
	position: relative;
}

.meet-team h2 span {
	color: var(--light-green);
}

.meet-team h2::before {
	position: absolute;
	content: "";
	bottom: -7px;
	left: 0;
	height: 2px;
	width: 100px;
	background-color: var(--light-green);
}

.mem-card {
	display: flex;
	flex-direction: column;
	width: 240px;
	margin: 2.5rem;
}

.mem-card,
.mem-img {
	position: relative;
}

.mem-img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: -15px;
	left: -15px;
	border: 2px solid var(--warm-terqouise);
}

.mem-card-content span {
	font-weight: 600;
	color: var(--warm-terqouise);
}

.mem-card.alternate .mem-img::before {
	border: 2px solid var(--living-coral) !important;
}

.mem-card.alternate .mem-card-content span {
	color: var(--living-coral) !important;
}


/* footer style */

footer p {
	color: #999;
	line-height: 25px;
}

footer h2,
h3 {
	color: #fff;
}

footer h2 {
	font-size: 18px;
}

.footer-top {
	background: #121111;
	padding: 50px 0;
	bottom: 0;
	width: 100%;
}

.segment-one h3 {
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
}

.segment-two h2 {
	color: #ffffff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-two h2:before {
	content: '|';
	color: blueviolet;
	padding-right: 10px;
}

.segment-two ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2.2
}

.segment-two ul li {
	border-bottom: 1px solid #242427;
	color: #999;
	text-decoration: none;
}

.segment-two ul li a {
	color: #999;
	text-decoration: none;
}

.segment-three h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-three h2:before {
	content: '|';
	color: blueviolet;
	padding-right: 10px;
}

.segment-three a {
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-three a i {
	font-size: 20px;
	color: #fff;
	padding: 10px;
}

.segment-four h2 {
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}

.segment-four h2:before {
	content: '|';
	color: blueviolet;
	padding-right: 10px;
}

.segment-four p {
	padding: .5rem 0 !important;
	margin: 0 !important;
	border-bottom: 1px solid #242427;
	cursor: pointer;
}

.segment-four a {
	background: #494848;
}


/* constant animations */

@keyframes popLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}