body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color:black !important;
}

/* header */
header {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 6rem;
    overflow-x: clip;
}

header img.phy-logo {
    width: 60%;
}

.bg-img {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-img img {
    position: absolute;
    opacity: .5;
    width: 220px;
    z-index: -1;
}

@media (max-width: 576px) {
    .bg-img {
        left: 20px;
        width: calc(100% - 40px);
    }
    .bg-img img{
        width: 150px;
    }
}

.bg-img img:nth-child(1) {
    top: 20px;
    left: -50px;
}

.bg-img img:nth-child(2) {
    top: -70px;
    right: -80px;
}

.bg-img img:nth-child(3) {
    top: 250px;
    right: -100px;
    transform: rotateY(180deg);
}

.bg-img img:nth-child(4) {
    left: -30px;
    top: 85%;
}

.bg-img img:nth-child(5) {
    left: 25%;
    top: -5%;
}

.bg-img img:nth-child(6) {
    right: 20%;
    top: 35%;
}

.bg-img img:nth-child(7) {
    left: 20%;
    top: 50%;
}

@media (min-width: 576px) {
    header img.phy-logo {
        width: 300px !important;
    }
}

/* Single News CSS */
.container {
    max-width: 900px !important;
}

/* search box */

.search-box .search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-animation: ani cubic-bezier(0.68, -0.55, 0.27, 1.55) 800ms forwards;
          animation: ani cubic-bezier(0.68, -0.55, 0.27, 1.55) 800ms forwards;
}
.search-box .search-bar i.fa {
  position: absolute;
  display: flex;
  cursor: pointer;
  color: black;
  transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 520ms;
}
.search-box .search-bar i.fa:hover ~ input {
  transform: scale(1.18);
}
.search-box .search-bar input {
  max-width: 500px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  color: #232323;
  font-size: normal;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 10px 20px #171C28;
  outline: none;
  transition: all cubic-bezier(0.68, -0.55, 0.37, 1.55) 720ms;
}
.search-box .search-bar input:focus {
    width: 50%;
    transform: scale(1.18);
}
@media (max-width: 768px) {
    .search-box .search-bar input:focus {
        width: 70%;
      }
}
.search-box .search-bar input:focus i {
  display: none;
}
.search-box .search-bar input:hover {
  transform: scale(1.18);
}

@-webkit-keyframes ani {
  0% {
    opacity: 0;
    transform: translatey(30px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translatey(30px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

.single-news {
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
    margin-bottom: 15px;
}

.single-news .sn-img {
    position: relative;
    overflow: hidden;
}

.single-news .sn-img img {
    width: 100%;
}

.single-news .sn-content {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.single-news .sn-content h1.sn-title {
    display: block;
    width: 100%;
    color: #fff;
}

.single-news .sn-related {
    margin-bottom: 45px;
}

.single-news .sn-related h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px double #000000;
}

.single-news .sn-slider .sn-img {
    position: relative;
    overflow: hidden;
}

.single-news .sn-slider .sn-img img {
    width: 100%;
}

.single-news .sn-slider .sn-img:hover img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.single-news .sn-slider .sn-title {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

.single-news .sn-slider .sn-title a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.single-news .sn-slider .sn-title a:hover {
    color: #FF6F61;
}

.single-news .sn-slider .slick-prev,
.single-news .sn-slider .slick-next {
    top: -62px;
    width: 28px;
    height: 28px;
    z-index: 1;
    transition: .5s;
    color: #ffffff;
    background: #000000;
    border-radius: 4px;
}

.single-news .sn-slider .slick-prev {
    left: calc(100% - 85px);
}

.single-news .sn-slider .slick-next {
    right: 14px;
}

.single-news .sn-slider .slick-prev:hover,
.single-news .sn-slider .slick-prev:focus,
.single-news .sn-slider .slick-next:hover,
.single-news .sn-slider .slick-next:focus {
    color: #ffffff;
    background: #FF6F61;
}

.single-news .sn-slider .slick-prev::before,
.single-news .sn-slider .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
}

.single-news .sn-slider .slick-prev::before {
    content: "\f104";
}

.single-news .sn-slider .slick-next::before {
    content: "\f105";
}


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

.sidebar .sidebar-widget {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget h2 {
    color: #fff;
    font-size: 18pt;
}

.sidebar .sidebar-widget .news-list {
    position: relative;
    margin-bottom: 30px;
}

.sidebar .news-list .nl-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar .news-list .nl-item .nl-img {
    width: 100px;
}

.sidebar .news-list .nl-item .nl-img img {
    width: 100px;
}

.sidebar .news-list .nl-item .nl-title {
    padding-left: 15px;
}

.sidebar .news-list .nl-item .nl-title a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
}

.sidebar .news-list .nl-item .nl-title a:hover {
    color: #FF6F61;
}

.sidebar .sidebar-widget .tab-news {
    position: relative;
    margin-bottom: 30px;
}

.sidebar .tab-news .nav.nav-pills .nav-link {
    color: #000000;
    background: #fff;
    border-radius: 50px;
    margin-right: 5%;
    margin-left: 5%;
    transition: .25s;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sidebar .tab-news .nav.nav-pills .nav-link:hover,
.sidebar .tab-news .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: var(--living-coral);
}

.sidebar .tab-news .tab-content {
    padding: 15px 0 0 0;
    margin-left: 2rem;
    background: transparent;
}

.sidebar .tab-news .tab-content .container {
    padding: 0;
}

.sidebar .tab-news .tn-news {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.sidebar .tab-news .tn-img {
    width: auto;
    position: relative;
}

.sidebar .tab-news .tn-img img {
    width: 270px;
}

@media (max-width: 768px){
    .sidebar .tab-news .tn-img img{
        width: 100px;
    }
    .sidebar .tab-news .tn-title a h3{
        font-size: .7rem !important;
    }
    .sidebar .tab-news .tn-title a h3 + p {
        display: none;
    }
    .sidebar .tab-news .tn-img a i{
        padding: .6rem !important;
    }
    .tab-content {
        margin-left: 1rem !important;
    }
    .tn-news {
        margin-bottom: 1.5rem !important;
    }
    .tn-title a p:nth-child(3) {
        font-size: x-small !important;
    }
}

.sidebar .tab-news .tn-img a i {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    border: 3px solid;
    box-shadow: 0px 0px 10px 1px black;
}

.sidebar .tab-news .tn-title {
    padding-left: 2rem;
    text-align: left;
}

@media (max-width: 576px) {
    .tn-title {
        padding-left: 1rem !important;
    }
}

.sidebar .tab-news .tn-title a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
}

.sidebar .sidebar-widget .category {
    position: relative;
}

.sidebar .category ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category ul li {
    margin: 0 0 12px 22px; 
}

.sidebar .category ul li:last-child {
    margin-bottom: 0; 
}

.sidebar .category ul li a {
    display: inline-block;
    color: #fff;
    line-height: 23px;
}

.sidebar .category ul li a:hover {
    color: #FF6F61;
}

.sidebar .category ul li::before {
    position: absolute;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    left: 1px;
}

.sidebar .category ul li span {
    display: block;
    float: right;
}

.sidebar .sidebar-widget .tags {
    position: relative;
}

.sidebar .sidebar-widget .tags a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}

.sidebar .sidebar-widget .tags a:hover {
    color: #ffffff;
    background: #FF6F61;
    border: 1px solid #FF6F61;
}

.sidebar .sidebar-widget .image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .sidebar-widget .image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.go-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 10px;
    background-color: var(--dark-purple);
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
    z-index: 99;
    opacity: 0;
}